.container {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 77.25rem;
  margin-left: auto;
  margin-right: auto;

  &--medium {
    max-width: 61rem;
  }

  &--narrow {
    max-width: 29.375rem;
  }

  &--b-margin {
    margin-bottom: 1rem;

    @mixin atSmall {
      margin-bottom: 3.875rem;
    }
  }

  &--no-padding-until-medium {
    padding-left: 0;
    padding-right: 0;

    @mixin atMedium {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &--no-padding-until-large {
    padding-left: 0;
    padding-right: 0;

    @mixin atLarge {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }
}