.primary-nav {

  &--pull-right {

    @mixin atMedium {
      float: right;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul li {
    padding-right: 7px;
    display: inline-block;

    @mixin atMedium {
      float: left;
      display: block;
      padding-top: 1.25rem;
      padding-right: 20px;
    }
  }

  ul li:last-child {
    padding-right: 0;

    @mixin atMedium {
      padding-right: 20px;
    }
  }

  ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    padding: 5px 8px;
    font-size: .8rem;
    background-color: rgba($primaryColor, .5);

    @mixin atMedium {
      font-size: 1rem;
      background-color: transparent;

      &.is-current-link {
        color: $activeColor;
      }
    }
  }
}