.row {
  display: flex;
  flex-wrap: wrap;

  &--gutters > div {
    @mixin atMedium {
      padding-right: 4rem;
    }
  }

  &--gutters-large > div {
    @mixin atMedium {
      padding-right: 6.25rem;
    }
  }

  &--gutters-small > div {
    @mixin atMedium {
      padding-right: 2.8125rem;
    }
  }

  &--gutters div:last-of-type:not(.testimonial), &--gutters-large div:last-of-type:not(.testimonial), &--gutters-small div:last-of-type:not(.testimonial) {
    padding-right: 0;
  }

  &--t-padding {
    padding-top: 80px;
  }

  &__4 {
    width: calc(1/3 * 100%);
  }

  &__6 {
    width: calc(1/2 * 100%);
  }

  &__8 {
    width: calc(2/3 * 100%);
  }

  @mixin atMedium {
    &__medium-4 {
      width: calc(1/3 * 100%);
    }

    &__medium-4--larger {
      width: 37%;
    }

    &__medium-6 {
      width: calc(1/2 * 100%);
    }

    &__medium-8 {
      width: calc(2/3 * 100%);
    }

    &__medium-8--smaller {
      width: 63%;
    }

    &__large-4 {
      padding-right: 0;
    }

    &__large-6 {
      padding-right: 0;
    }

    &__large-8 {
      padding-right: 0;
    }

  }

  @mixin atLarge {
    &__large-4 {
      width: calc(1/3 * 100%);
    }

    &__large-4--larger {
      width: 37%;
    }

    &__large-6 {
      width: calc(1/2 * 100%);
    }

    &__large-8 {
      width: calc(2/3 * 100%);
    }

    &__large-8--smaller {
      width: 63%;
    }

  }

  &--b-margin-until-medium {
    margin-bottom: 2rem;

    @mixin atMedium {
      margin-bottom: 0;
    }
  }
}